
.clear {
    clear: both;
}

.stinger-view-container {
    width: 99%;
    height: 49%;
}

.stinger-view {
    float: left;
    width: 49%;
    border-style: ridge;
}

.stinger-view canvas {
    width: 100%;
}


