
.clear {
    clear: both;
}

.stinger-view-container {
    width: 99%;
    height: 44%;
}

.stinger-view {
    float: left;
    width: 49%;
    border-style: ridge;
}

.stinger-view canvas {
    width: 100%;
}

.stinger-info-container {
    width: 99%;
    height: 9%;
}

.stinger-info-column {
    float: left;
    width: 49%;
    height: 9%;
}


